
body {
} 
@font-face {
    font-family: 'departure-mono';
    src: url('../../../assets/fonts/departuremono-regular.woff') format('woff');
}


::-webkit-scrollbar {
width: 8px; 
background: transparent
border: 0px  
height: 200px;
}

::-webkit-scrollbar-thumb {
background: transparent;


}
body {
  background-color:white;
font-family: 'departure-mono', monospace;
color: #87b5ff;
font-size:15px;
}

hr {
  border: 1.5px solid #bcd3ff00;
}

a:link {
  color: #81b7ff;
    text-decoration: none;
}
 
 
a:visited { 
  color: #ffffff00;
}
 
 
a:hover {
  color: #80c6ff29; 
}
 
 
a:active {
  color: #e9a5ff ;

}
 ::selection {
background-color: #bfeaff98;

 }
