
/* ---- extracted from about-me.html ---- */

.body {
  
  background-color: #fcfbf2;
}
  
@font-face {
	font-family: 'FOT-RodinBokutoh Pro EB';
	src: url('../../fonts/ktegaki.ttf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

::-webkit-scrollbar {
width: 8px; 
background: transparent;
border: 0px ;
height: 200px;
}

::-webkit-scrollbar-thumb {
background: #928a76;
}
body {
  font-family: 'FOT-RodinBokutoh Pro EB', sans-serif;
color: #928476;;
font-size:28px;
overflow-y: visible;
overflow-x: hidden;
font-weight: 200;
}

hr {
  border: 1.5px solid #928a76;;
}

a:link {
  color: #ffaff4;
  text-decoration: none;
}
 
 
a:visited {
  color: #f5ceff;
}
 
 
a:hover {
  color: #bab1ff;
}
 
 
a:active {
  color: #928a76; ;

}
 ::selection {
background-color: #fff5dd;
}

.header{
  background-color:white;  
  background-image:url("../../assets/pattern.jpeg"); 
  background-size: cover; 
  background-repeat:no-repeat;  
  width: 400px;
  height: 35px;
  overflow: fixed; 
  padding:10px; 
  color: #63574d;
 border: 1.7px solid #928a76;; 
    border-radius: 5px;
  font-size: 25px;
}
